html{
    background-color:#3352F3;
    font-family: 'Epilogue';
}
HEAD
.navbar {
    
}

.navbar button {
    position: absolute;
    color: white;
    height: 60px;
    width: 80px;
    border-radius: 14px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(57, 57, 244, 1);
    bottom: 0;  
    left: 50%; 
    border: none;
    cursor: pointer;
    transform: translate(-50%, -50%);
}



.ProfileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ProfilePicture{
    border-radius:50%;
    width: 100px;

}
.ProfileImaigeField{
    display: flex;
    flex-direction: row;
}
.ProfileNameField{
    margin-left: 15px;
}
.ProfileEventField{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.ProfileJoinedEvents{
    margin-left: 30px;
}
.ProfileEditButton{
    background-color: Blue;
    padding: .70rem;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border: none;
}
.EditButton:hover{
    border: none;
    background: green;
    box-shadow: 0 0 1px #777;
}
.ProfileEditField{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.PersonalDetailField{
    display:flex;
    flex-direction:column;
}


