html{
    background-color:#3352F3;
}
.ProfileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ProfilePicture{
    border-radius:50%;
    width: 100px;

}
.ProfileImaigeField{
    display: flex;
    flex-direction: row;
}
.ProfileNameField{
    margin-left: 15px;
}
.ProfileEventField{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.ProfileJoinedEvents{
    margin-left: 30px;
}
.ProfileEditButton{
    background-color: Blue;
    padding: .70rem;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border: none;
}
.EditButton:hover{
    border: none;
    background: green;
    box-shadow: 0 0 1px #777;
}
.ProfileEditField{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.PersonalDetailField{
    display:flex;
    flex-direction:column;
}


