html{
    background-color:#3352F3;
    font-family: 'Epilogue';
}

.nav {

}

.nav button {
    position: absolute;
    color: white;
    height: 60px;
    width: 80px;
    border-radius: 14px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(57, 57, 244, 1);
    bottom: 0;  
    left: 50%; 
    border: none;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

.overlay {
    height: 50%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: rgba(4, 42, 241, 1);
}

.close {
    
}
  
.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    padding-top: 20px;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: lightgray;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-width: 450px) {
    .overlay a {font-size: 28px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 350px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        padding-top: 5px;
    }
}

.ProfileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfilePicture{
    border-radius:50%;
    width: 100px;
}

.ProfileImaigeField{
    display: flex;
    flex-direction: row;
}

.ProfileNameField{
    margin-left: 15px;
}

.ProfileEventField{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.ProfileJoinedEvents{
    margin-left: 30px;
}

.ProfileEditButton{
    background-color: Blue;
    padding: .70rem;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Oswald';
    font-size: 20px;
    text-decoration: none;
    border: none;
}

.ProfileEditButton:hover{
    border: none;
    background: green;
    box-shadow: 0 0 1px #777;
}

.ProfileEditField{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.PersonalDetailField{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.ProfileEditImageButton{
    width: 75px;
}


