/*Format contain*/
.ProfileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Style for profile picture*/
.ProfilePicture{
    border-radius:50%;
    width: 100px;
}
/*Format profile image*/
.ProfileImageField{
    display: flex;
    flex-direction: row;
}
/*Style for personal details*/
.ProfileNameField{
    margin-left: 15px;
    font-weight: bold;
    font-size: 18px;
    color: white;
}
/* Style for Profile Event Field */
.ProfileEventField{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    text-align: center;
}
/* Style for Joined Events */
.ProfileJoinedEvents{
    margin-left: 30px;
    text-align: center;
}
/* Style for Profile Edit Field */
.ProfileEditField{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
    color: white;
}
/* Style for Personal Detail Field */
.PersonalDetailField{
    display:flex;
    flex-direction:column;
    align-items: center;
}
/* Style for Profilbilde */
.ProfileEditImageButton{
    width: 75px;
}
/* Style for My Activities Container */
.MyActivitiesContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* Style for My Activities Catagory box */
.MyActivitiesCategoryBox{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.MyActivitiesJoinedEventField{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.MyActivitiesMyEventsField{
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* Setter høyden på Catagorybody */
.CategoriesBody{
    overflow: hidden;
    height: 100vh;
}

/*Style for body and contain*/
body{
    background-color: #658DF3;
    font-family: 'Epilogue';
    font-weight: 400;
    color: white;
}
/*Style for the Sign-up form*/
.form{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
/*Style for Logo*/
.logo{
    margin-top: 50px;
    width: 137px;
    height: 137px;
}
/*Style for Sign Up title*/
h1{
    color: white;
    font-size: 2.5rem;
}
/*Style for "Please fill in this form...*/
h4{
    color: white;
    font-size: 1rem;
    margin-top: -5px;
    margin-bottom: 15px;
}
/*Style for the filling box*/
.input-box{
    max-width: 270px;
    width: 100%;
    height: 40px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
    background-color: #F4F5FE;
    position: relative;
}
/*Effect for when input box when we hover the cursor over boxes*/
.input-box:hover{
    border: 3px solid #0079f4;
}
/*Style for text in the boxes*/
.input-box i{
    text-align: center;
    line-height: 40px;
    color: #A5ABBD;
    font-size: 1.1rem;
}
/*Making colour for placeholder*/
::placeholder{
    color: #A5ABBD;
}
/*Style for text when we input information in the box*/
input{
   font-size: 1.1rem;
   background: none;
   border: none;
   outline: none;
   line-height: 1;
}
/*Style for the checkbox*/
input[type='checkbox']{
    width: 27px;
    height: 15px;
    margin-top: 8px;
}
/*Sign Up button*/
.button{
    margin: 20px 0;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #0079f4;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}
/*Colour effect for Sign Up button when we hover the cursor over the button*/
.button:hover{
    background-color: #3939f4;
}
/*Format text at the checkbox field*/
p{
    color: white;
    font-size: 1rem;
    margin-top: 5px;

}
/* Setter spesielle hødye om enhet har en bredde på mindre enn 615px */
@media (max-width: 615px){
    form{
        flex-direction: column;
        height: 100%;
    }
}
/* Style for bilde */
img {
    margin-left: auto;
    margin-right: auto;
    width: 137px;
    height: 137px;
    display: block;
    padding-top: 25%;
}
/* Style for ladoing bar start */
.lds-roller { 
    display: block;
    margin: auto;
    width: 80px;

}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
/* Style for ladoing bar stopp */

/*General style for Log in form*/
.form{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
/*Style for Logo*/
 .logo{
    width: 137px;
    height: 137px;
    margin-top: 50px;
}
/*Style for filling boxes*/
.input-box{
    max-width: 270px;
    width: 100%;
    height: 40px;
    margin: 8px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
    background-color: #F4F5FE;
    position: relative;
}
/*Effect for boxes when we hover the cursor over boxes*/
.input-box:hover{
    border: 3px solid #0079f4;
}
/*Making style for text in the box*/
.input-box i{
    text-align: center;
    line-height: 40px;
    color: #A5ABBD;
    font-size: 1.1rem;
}
/*Making colour for placeholder*/
::placeholder{
    color: #A5ABBD;
}
/*Style for text when filling information in the box*/
input{
    font-size: 1.1rem;
    background: none;
    border: none;
    outline: none;
    line-height: 1;
}
/*Style for the checkbox*/
input[type='checkbox']{
    width: 30px;
    height: 16px;
    margin-top: 5px;
}
/*Style for Sign in button*/
.button{
    margin: 30px 0;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #0079f4;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}
/*Colour effect for button when we hover the cursor over it*/
.button:hover{
    background-color: #3939f4;
}
/*Style for text*/
p{
    color: white;
    font-size: 1rem;
    margin-top: 5px;
}

